@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.title-box {
}

body {
  /* background: #ff512f; */
  /* background: -webkit-linear-gradient(
    to left,
    #dd2476,
    #ff512f
  );
  background: linear-gradient(
    to left,
    #dd2476,
    #ff512f
  );  */
}

.background {
  background: rgb(52, 166, 251);
  background-image: url("/bg2.fdba8e4d.png");
  background-repeat: no-repeat;
  table-layout: fixed;
  background-size: 6400px 6400px;
  border-spacing: 0;
}
.background td {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border: 0;
}
.actor.lava {
  background-image: url("/sun.8a01f27a.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}
td.lava {
  background-image: url("/lava-5.6562e1f5.png");
  background-repeat: no-repeat;
  border-spacing: 0;
  background-size: 220%;

  background-position-x: -5px;
  background-position-y: 5px;

  animation: animateLava 1s steps(2) infinite;
}

@keyframes animateLava {
  from {
    background-position-x: -5px;
  }
  to {
    background-position-x: -176px;
  }
}

.wall {
  background-image: url("/tile-2.54aa889e.png");
  background-repeat: no-repeat;
  /*transform: translate(50%, 50%);*/
  background-position-y: -5px;
}

.actor {
  position: absolute;
}
.coin {
  background-image: url("/fitted-coins.735a9403.png");
  background-repeat: no-repeat;
  /*transform: translate(50%, 50%);*/
  background-position-y: 0px;
  animation: animateCoins 1s steps(7) infinite;
}

@keyframes animateCoins {
  from {
    background-position-x: -8px;
  }
  to {
    background-position-x: -428px;
  }
}

.player {
  /* background-image: url("./right.png"); */
  background-repeat: no-repeat;
  /*transform: translate(50%, 50%);*/
  background-position-y: -5px;
  /* animation: animateWalk 1s st
  eps(4) infinite; */
}

.coin-collected {
  content: "+1";
  color: white;
  font-weight: bold;
  font-size: 100px;
  position: absolute;
  top: -80px;
  font-family: "Bangers", cursive;
  animation: plusOne 1s linear;
}

@keyframes plusOne {
  from {
    top: -40px;
    font-size: 50px;
    filter: contrast(100%);
  }
  to {
    top: -80px;
    font-size: 100px;
    filter: contrast(200%);
  }
}

.player:after {
}

.left {
  animation: animateWalkLeft 1s steps(4) infinite;
  background-image: url("/left.13b2cb78.png");
}

.jump-left {
  animation: animateWalkRight 1s steps(4) infinite;
  background-image: url("/jumpLeft.ae5ef804.png");
}

.jump {
  animation: animateWalkRight 1s steps(4) infinite;
  background-image: url("/jump.0bce018e.png");
}

.right {
  animation: animateWalkRight 1s steps(4) infinite;
  background-image: url("/right.78f71526.png");
}

.idle {
  animation: animateIdle 1s steps(4) infinite;
  background-image: url("/newSprite.137c35f6.png");
}

@keyframes animateWalkDie {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -218px;
  }
}

@keyframes animateWalkLeft {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -327px;
  }
}

@keyframes animateWalkRight {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -318px;
  }
}

@keyframes animateIdle {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -290px;
  }
}

.lost .player {
  animation: animateWalkDie 1s steps(3) infinite;
  background-position-y: -15px;
  filter: grayscale(70%);
  background-image: url("/die-2.854d4eee.png");
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;

  transition: filter ease-in-out;
  animation: animateWin 0.5s infinite;
}

@keyframes animateWin {
  from {
    filter: brightness(150%);
  }
  to {
    filter: brightness(200%);
  }
}

.game {
  overflow: hidden;
  max-width: 1320px;
  max-height: 1000px;
  margin: auto;
  position: relative;
}

h1 {
  text-align: center;
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000,
    0px 0px 12px #000000, 0px 0px 12px #000000;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  position: relative;
  color: rebeccapurple;
  font-family: "Bangers", cursive;
  font-size: 100px;
  font-style: italic;
  font-weight: 600;
}

.js-title {
  color: rgb(255, 238, 6);

  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000,
    0px 0px 12px #000000, 0px 0px 12px #000000, 0px 0px 12px #000000;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  font-size: 130px;
  text-align: center;
  font-family: "Bangers", cursive;

  position: absolute;
}

body {
  font-family: sans-serif;
  font-size: 20px;
}

#app {
  width: 73%;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: center;
}

.menu {
  border: solid 0.4em rgb(254, 182, 121);
  box-shadow: inset 0px 0px 5px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 11;
  top: 569px;
  left: 700px;
  border-radius: 10px;
  width: 30em;
  height: 15em;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;

  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      rgb(250, 168, 22, 1) 10px,
      rgb(250, 168, 22, 1) 20px
    ),
    linear-gradient(
      180deg,
      rgba(250, 168, 22, 1) 0%,
      rgba(203, 102, 24, 1) 100%
    );
}

.top-menu {
  border: solid 0.4em rgb(254, 182, 121);
  background-color: rgb(12, 30, 30);
  padding: 0.5em;
  /*padding: 1em 7em 1em 7em;*/
  border-radius: 15px;
  position: absolute;
  top: -3em;
  z-index: 2;
}
.status-title {
  font-size: 75px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgba(252, 142, 81, 1) 0%,
    rgba(246, 84, 61, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 3;
  position: relative;
}

.status-title:before {
  content: "PAUSED";
  font-size: 73px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgb(204, 129, 88) 0%,
    rgb(212, 50, 29) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 3;
  position: absolute;
  left: 1px;
  top: -1px;
}

.status-title::after {
  content: "PAUSED";
  font-size: 74px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgb(255, 193, 160) 0%,
    rgb(255, 177, 167) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 2;
  position: absolute;
  left: 0;
}

.status-title-gameover {
  font-size: 75px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgba(252, 142, 81, 1) 0%,
    rgba(246, 84, 61, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 3;
  position: relative;
}

.status-title-gameover:before {
  content: "GAME OVER";
  font-size: 74px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgb(204, 129, 88) 0%,
    rgb(212, 50, 29) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 3;
  position: absolute;
  left: 2px;
  top: -1px;
}

.status-title-gameover::after {
  content: "GAME OVER";
  font-size: 74px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgb(255, 193, 160) 0%,
    rgb(255, 177, 167) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 2;
  position: absolute;
  left: 5px;
}

.menu-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8em;
  position: relative;
}

.menu-btns {
  display: flex;
  height: 6em;
  width: 20em;
  align-items: center;
  justify-content: space-around;
}

.btn {
  padding: 0.25em 0.5em;
  cursor: pointer;
  color: white;
  font-size: 50px;
  border-radius: 50%;
  border: solid 0.13em #1ea886;
  transition: background 2s ease-in-out 1s;
  background: linear-gradient(
    180deg,
    rgba(4, 223, 155, 1) 0%,
    rgba(8, 156, 166, 1) 100%
  );
}

.btn:hover {
  background: radial-gradient(
    circle,
    rgba(30, 168, 134, 1) 0%,
    rgba(10, 101, 106, 1) 100%
  );
}

.main-btn {
  position: absolute;
  cursor: pointer;

  bottom: -1.5em;
  border: solid 0.15em #338425;
  color: #338425;
  border-radius: 15px;
  background: linear-gradient(
    180deg,
    rgba(254, 250, 99, 1) 0%,
    rgba(144, 233, 21, 1) 100%
  );

  padding: 0.25em 2em;
  font-size: 40px;
  font-weight: bold;
}

.main-btn:hover {
  background: radial-gradient(
    circle,
    rgba(254, 250, 99, 1) 0%,
    rgba(144, 233, 21, 1) 100%
  );
}


/*# sourceMappingURL=/src.a2b27638.css.map */