@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.title-box {
}

body {
  /* background: #ff512f; */
  /* background: -webkit-linear-gradient(
    to left,
    #dd2476,
    #ff512f
  );
  background: linear-gradient(
    to left,
    #dd2476,
    #ff512f
  );  */
}

.background {
  background: rgb(52, 166, 251);
  background-image: url("./bg.png");
  background-repeat: no-repeat;
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border: 0;
}
.actor.lava {
  background-image: url("./sun.gif");
  background-repeat: no-repeat;
}
td.lava {
  background-image: url("./lava-5.png");
  background-repeat: no-repeat;
  background-size: 100%;
  border-spacing: 0;
  background-size: 220%;

  background-position-x: -5px;
  background-position-y: 5px;

  animation: animateLava 1s steps(2) infinite;
}

@keyframes animateLava {
  from {
    background-position-x: -5px;
  }
  to {
    background-position-x: -176px;
  }
}

.wall {
  background-image: url("./tile-2.png");
  background-repeat: no-repeat;
  /*transform: translate(50%, 50%);*/
  background-position-y: -5px;
}

.actor {
  position: absolute;
}
.coin {
  background-image: url("./fitted-coins.png");
  background-repeat: no-repeat;
  /*transform: translate(50%, 50%);*/
  background-position-y: 0px;
  animation: animateCoins 1s steps(7) infinite;
}

@keyframes animateCoins {
  from {
    background-position-x: -8px;
  }
  to {
    background-position-x: -428px;
  }
}

.player {
  /* background-image: url("./right.png"); */
  background-repeat: no-repeat;
  /*transform: translate(50%, 50%);*/
  background-position-y: -5px;
  /* animation: animateWalk 1s st
  eps(4) infinite; */
}

.left {
  animation: animateWalkLeft 1s steps(4) infinite;
  background-image: url("./left.png");
}

.jump {
  animation: animateWalkRight 1s steps(4) infinite;
  background-image: url("./jump.png");
}

.right {
  animation: animateWalkRight 1s steps(4) infinite;
  background-image: url("./right.png");
}

.idle {
  animation: animateIdle 1s steps(4) infinite;
  background-image: url("./newSprite.png");
}

@keyframes animateWalkLeft {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -318px;
  }
}

@keyframes animateWalkRight {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -318px;
  }
}

@keyframes animateIdle {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -290px;
  }
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.game {
  overflow: hidden;
  max-width: 1320px;
  max-height: 1000px;
  margin: auto;
  position: relative;
}

h1 {
  text-align: center;
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000,
    0px 0px 12px #000000, 0px 0px 12px #000000;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  position: relative;
  color: rebeccapurple;
  font-family: "Bangers", cursive;
  font-size: 100px;
  font-style: italic;
  font-weight: 600;
}

.js-title {
  color: rgb(255, 238, 6);

  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000,
    0px 0px 12px #000000, 0px 0px 12px #000000, 0px 0px 12px #000000;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  font-size: 130px;
  text-align: center;
  font-family: "Bangers", cursive;

  position: absolute;
}
