@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.title-box {
}

body {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #dd2476,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #dd2476,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
}
.lava {
  background: rgb(255, 100, 100);
}
.wall {
  background: white;
}

.actor {
  position: absolute;
}
.coin {
  background: rgb(241, 229, 89);
}
.player {
  background: rgb(64, 64, 64);
}
.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.game {
  overflow: hidden;
  max-width: 1320px;
  max-height: 1000px;
  margin: auto;
  position: relative;
}

h1 {
  text-align: center;
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000,
    0px 0px 12px #000000, 0px 0px 12px #000000;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  position: relative;
  color: rebeccapurple;
  font-family: "Bangers", cursive;
  font-size: 100px;
  font-style: italic;
  font-weight: 600;
}

.js-title {
  color: rgb(255, 238, 6);

  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000,
    0px 0px 12px #000000, 0px 0px 12px #000000, 0px 0px 12px #000000;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  font-size: 130px;
  text-align: center;
  font-family: "Bangers", cursive;

  position: absolute;
}
