body {
  font-family: sans-serif;
  font-size: 20px;
}

#app {
  width: 73%;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: center;
}

.menu {
  border: solid 0.4em rgb(254, 182, 121);
  box-shadow: inset 0px 0px 5px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 11;
  top: 569px;
  left: 600px;
  border-radius: 10px;
  width: 30em;
  height: 15em;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      rgb(250, 168, 22, 1) 10px,
      rgb(250, 168, 22, 1) 20px
    ),
    linear-gradient(
      180deg,
      rgba(250, 168, 22, 1) 0%,
      rgba(203, 102, 24, 1) 100%
    );
}

.top-menu {
  border: solid 0.4em rgb(254, 182, 121);
  background-color: rgb(12, 30, 30);
  padding: 0.5em;
  /*padding: 1em 7em 1em 7em;*/
  border-radius: 15px;
  position: absolute;
  top: -3em;
  z-index: 2;
}
.status-title {
  font-size: 75px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgba(252, 142, 81, 1) 0%,
    rgba(246, 84, 61, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 3;
  position: relative;
}

.status-title:before {
  content: "PAUSED";
  font-size: 73px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgb(204, 129, 88) 0%,
    rgb(212, 50, 29) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 3;
  position: absolute;
  left: 1px;
  top: -1px;
}

.status-title::after {
  content: "PAUSED";
  font-size: 74px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgb(255, 193, 160) 0%,
    rgb(255, 177, 167) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 2;
  position: absolute;
  left: 0;
}

.status-title-gameover {
  font-size: 75px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgba(252, 142, 81, 1) 0%,
    rgba(246, 84, 61, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 3;
  position: relative;
}

.status-title-gameover:before {
  content: "GAME OVER";
  font-size: 74px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgb(204, 129, 88) 0%,
    rgb(212, 50, 29) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 3;
  position: absolute;
  left: 2px;
  top: -1px;
}

.status-title-gameover::after {
  content: "GAME OVER";
  font-size: 74px;
  font-weight: bold;
  background: linear-gradient(
    180deg,
    rgb(255, 193, 160) 0%,
    rgb(255, 177, 167) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 2;
  position: absolute;
  left: 5px;
}

.menu-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8em;
  position: relative;
}

.menu-btns {
  display: flex;
  height: 6em;
  width: 20em;
  align-items: center;
  justify-content: space-around;
}

.btn {
  padding: 0.25em 0.5em;
  cursor: pointer;
  color: white;
  font-size: 50px;
  border-radius: 50%;
  border: solid 0.13em #1ea886;
  transition: background 2s ease-in-out 1s;
  background: linear-gradient(
    180deg,
    rgba(4, 223, 155, 1) 0%,
    rgba(8, 156, 166, 1) 100%
  );
}

.btn:hover {
  background: radial-gradient(
    circle,
    rgba(30, 168, 134, 1) 0%,
    rgba(10, 101, 106, 1) 100%
  );
}

.main-btn {
  position: absolute;
  cursor: pointer;

  bottom: -1.5em;
  border: solid 0.15em #338425;
  color: #338425;
  border-radius: 15px;
  background: linear-gradient(
    180deg,
    rgba(254, 250, 99, 1) 0%,
    rgba(144, 233, 21, 1) 100%
  );

  padding: 0.25em 2em;
  font-size: 40px;
  font-weight: bold;
}
